/* 20031218 */
body {background-color:ivory; margin:0px;}
.ttable {border:4px solid lightgrey; border-collapse:collapse; empty-cells:show;}
.ttr {background-color:ivory; cursor:pointer;}
.tth {background-color:buttonface; border:1px solid lightgrey; border-bottom-width:4px; padding:2px; padding-left:4px; padding-right:4px; cursor:default;}
.ithl {font-size:smaller; font-weight:normal; text-align:left; white-space:nowrap;}
.ithr {font-size:smaller; font-weight:normal; text-align:right; padding-left:6px;}
.ttd {font-size:smaller; white-space:nowrap; border:1px solid lightgrey; padding:2px; padding-left:4px; padding-right:4px;}
